// place your custom styles here
// 页面底部间距
.theme-container{
    background-color: #f6f5ef;
}
.vp-page{
 padding-bottom: 0rem;
}
// 导航栏
.vp-dropdown-wrapper{
    font-size: 1rem;
}
.vp-dropdown-wrapper{
    margin-right: 0.8rem;
}

// 主页
.vp-hero-info-wrapper{
    height: 800px;
    justify-content: start;
}
.vp-hero-info{
 justify-content: start;
}


// 内容区域样式（排除 custom 类）
[vp-content]:not(.custom) {
    
    background-color: red;
    width: 1980px !important;
}

#markdown-content{
   width: 100%;
   background-color: aqua;
}
